<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Edit Profile</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/linearicons.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/owl.carousel.css" />
    <link rel="stylesheet" href="/css/nice-select.css" />
    <link rel="stylesheet" href="/css/nouislider.min.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/otp.css" />
    <style>
body{background-color:#222222}.card{border:none}.image{position:relative}.image span{background-color:blue;color:#fff;padding:6px;height:30px;width:30px;border-radius:50%;font-size:13px;position:absolute;display:flex;justify-content:center;align-items:center;top:-0px;right:0px}.user-details h4{color:blue}.ratings{font-size:30px;font-weight:600;display:flex;justify-content:left;align-items:center;color:#f9b43a}.user-details span{text-align:left}.inputs label{display:flex;margin-left:3px;font-weight:500;font-size:13px;margin-bottom:4px}.inputs input{font-size:14px;height:40px;border:2px solid #ced4da}.inputs input:focus{box-shadow:none;border:2px solid blue}.about-inputs label{display:flex;margin-left:3px;font-weight:500;font-size:13px;margin-bottom:4px}.about-inputs textarea{font-size:14px;height:100px;border:2px solid #ced4da;resize:none}.about-inputs textarea:focus{box-shadow:none}.btn{font-weight:600}.btn:focus{box-shadow:none}
    </style>
     </head>
     <body>
        <header class="header_area sticky-header">
            <div class="main_menu">
              <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <a class="navbar-brand logo_h" href="/"
                    ><img src="/img/logo.png" alt="E-Cart"
                  /></a>
                  <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                  >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div
                    class="collapse navbar-collapse offset"
                    id="navbarSupportedContent"
                  >
                    <ul class="nav navbar-nav menu_nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a href="/Products" class="nav-link" role="button"
                          >Shop Category</a
                        >
                      </li>
                      <li class="nav-item">
                        <a href="/cart/<%= userId %>" class="nav-link" role="button"
                          >Cart</a
                        >
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="/Account/<%= userId %>">
                          <%= userName ? userName : 'User' %>
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            height="1em"
                            viewBox="0 0 448 512"
                          >
                            <path
                              d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
                            />
                          </svg>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          href="/logout"
                          class="nav-link"
                          role="button"
                          id="logout-button"
                          >Logout</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
          </header>
          <!-- End Header Area -->

          <!-- content -->

          <div class="container mt-3" style="margin-top: 8rem !important;">
            <div class="card p-3 text-center">
                <div class="d-flex flex-row justify-content-center mb-3">
                    <form action="/addAddress/<%= userId %>" method="POST">
                        <h4>Add Address</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inputs">
                                    <label>First Name</label>
                                    <input class="form-control" type="text" name="firstname" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inputs">
                                    <label>Last Name</label>
                                    <input class="form-control" type="text" name="lastname" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <div class="inputs">
                                    <label>Address</label>
                                    <input class="form-control" type="text" name="address" placeholder="Address">
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inputs">
                                    <label>City</label>
                                    <input class="form-control" type="text" name="city" placeholder="City">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inputs">
                                    <label>State</label>
                                    <input class="form-control" type="text" name="state" placeholder="State">
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inputs">
                                    <label>Pincode</label>
                                    <input class="form-control" type="number" name="pincode" placeholder="Pincode">
                                </div>
                            </div>
                        </div>
                    
                        <div class="mt-3 gap-2 d-flex justify-content-end">
                            <a href="/Account/<%= userId %>" class="px-3 btn btn-sm btn-outline-primary">Cancel</a>
                            <button class="px-3 btn btn-sm btn-primary" type="submit">Add</button>
                        </div>
                    </form>                    
              </div>
        </div>

          <!-- content Ending -->
<br>
<br>
<br>

          <!-- Start Footer Area -->

    <footer class="footer-area section_gap">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>About Us</h6>
              <p>
                Discover endless shopping possibilities at E-Cart. We offer
                quality shoes, laptops, headphones, and more, ensuring
                convenience and satisfaction.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Newsletter</h6>
              <p>Stay update with our latest</p>
              <div class="" id="mc_embed_signup">
                <form
                  target="_blank"
                  novalidate="true"
                  action="#"
                  method="get"
                  class="form-inline"
                >
                  <div class="d-flex flex-row">
                    <input
                      class="form-control"
                      name="EMAIL"
                      placeholder="Enter Email"
                      onfocus="this.placeholder = ''"
                      onblur="this.placeholder = 'Enter Email '"
                      required=""
                      type="email"
                    />

                    <button class="click-btn btn btn-default">
                      <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                    </button>
                    <div style="position: absolute; left: -5000px">
                      <input
                        name="b_36c4fd991d266f23781ded980_aefe40901a"
                        tabindex="-1"
                        value=""
                        type="text"
                      />
                    </div>

                    <!-- <div class="col-lg-4 col-md-4">
                                                  <button class="bb-btn btn"><span class="lnr lnr-arrow-right"></span></button>
                                              </div>  -->
                  </div>
                  <div class="info"></div>
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="single-footer-widget mail-chimp">
              <h6 class="mb-20">Customer Assistance</h6>
              <ul class="instafeed d-flex flex-wrap">
                <li><p>Help</p></li>
                <li><p>Chat</p></li>
                <li><p>Support</p></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 col-sm-6">
            <div class="single-footer-widget">
              <h6>Follow Us</h6>
              <p>Let us be social</p>
              <div class="footer-social d-flex align-items-center">
                <a href="https://www.facebook.com/muhammedeasa.muhammedeasa.1/"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Pavamgamer"><i class="fa fa-twitter"></i></a>
                <a href="https://www.instagram.com/al_hafiz_muhammed_easa?igshid=NGVhN2U2NjQ0Yg=="><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/feed/"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div
          class="footer-bottom d-flex justify-content-center align-items-center flex-wrap"
        >
          <p class="footer-text m-0">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved | This template is made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
        </div>
      </div>
    </footer>
    
<!-- Include SweetAlert2 CSS and JS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const logoutButton = document.getElementById("logout-button");

    if (logoutButton) {
      logoutButton.addEventListener("click", function (e) {
        e.preventDefault(); // Prevent the default link behavior

        // Use SweetAlert2 for confirmation
        Swal.fire({
          title: "Are you sure?",
          text: "Do you really want to logout?",
          icon: "question",
          showCancelButton: true,
          confirmButtonText: "Yes, logout",
          cancelButtonText: "No, cancel"
        }).then((result) => {
          if (result.isConfirmed) {
            // If the user confirms, redirect to the logout page
            window.location.href = "/logout";
          }
        });
      });
    }
  });
</script>
  </body>
</html>